/* SET FLUID TYPOGRAPHY - 16px at 400px viewport and 14px minimum */
:root {
  font-size: calc(0.600em + .5vw); }

h1 {
  font-size: 1.602rem; }

h2 {
  font-size: 1.424rem; }

h3 {
  font-size: 1.266rem; }

h4 {
  font-size: 1.125rem; }

p {
  font-size: 1rem; }

body, .search-btn {
  font-family: "Kanit", sans-serif;
  font-weight: bold; }

.logo {
  font-family: "Anton", sans-serif; }
  .logo-accent {
    color: #3385ff; }

.tooltip-help {
  text-transform: uppercase;
  font-weight: bold;
  color: #3385ff; }

.search-field {
  font-weight: bold; }
  .search-field::placeholder {
    font-weight: bold; }

.fonta {
  color: rgba(100, 100, 100, 0.8); }

.search-btn {
  color: #ffffff;
  text-transform: uppercase; }
  .search-btn:hover {
    color: #3385ff; }

.options .option {
  color: #3385ff;
  text-decoration: none; }
.options .option-active {
  color: rgba(100, 100, 100, 0.8); }

.result-item {
  color: rgba(10, 10, 10, 0.8); }
  .result-item:visited {
    color: rgba(10, 10, 10, 0.8); }
.result-price {
  font-family: "Anton", sans-serif;
  color: rgba(100, 100, 100, 0.8);
  font-weight: 200;
  letter-spacing: 2px; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: border-box; }

::-moz-focus-inner {
  border: none; }

button,
button:focus,
button:active {
  border: none;
  outline: none; }

a {
  text-decoration: none; }

a:focus {
  border: 0;
  outline: 0; }

ul {
  padding: 0;
  display: block; }

li {
  list-style: none; }

@media screen and (max-width: 470px) {
  .fonta {
    padding-right: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

  .search-btn {
    flex: 0 1 20%;
    min-width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 5px; } }
@media screen and (min-width: 800px) {
  .results {
    display: flex;
    justify-content: space-between; }
    .results .result {
      flex: 0 48%; }
      .results .result-item {
        align-content: center;
        padding: 1rem;
        height: 12rem; }
      .results .result-title {
        width: 100%;
        height: 7rem;
        overflow: hidden; } }
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15px;
  height: 10px;
  margin-left: 0.2rem;
  cursor: pointer; }
  .burger-1, .burger-2, .burger-3 {
    width: 100%;
    height: 2px;
    background-color: #3385ff;
    border-radius: 5px; }
  .burger-1.animate {
    animation: animate-burger-1 0.5s ease-in forwards; }
  .burger-2.animate {
    animation: animate-burger-2 0.5s ease-in forwards; }
  .burger-3.animate {
    animation: animate-burger-3 0.5s ease-in forwards; }
  .burger-1.reverse {
    animation: animate-burger-1-rev 0.5s ease-in forwards; }
  .burger-2.reverse {
    animation: animate-burger-2-rev 0.5s ease-in forwards; }
  .burger-3.reverse {
    animation: animate-burger-3-rev 0.5s ease-in forwards; }

@keyframes animate-burger-1 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(4px) rotate(0); }
  100% {
    transform: translateY(4px) rotate(45deg); } }
@keyframes animate-burger-2 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes animate-burger-3 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(-4px) rotate(0); }
  100% {
    transform: translateY(-4px) rotate(135deg); } }
@keyframes animate-burger-1-rev {
  0% {
    transform: translateY(4px) rotate(45deg); }
  50% {
    transform: translateY(4px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }
@keyframes animate-burger-2-rev {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes animate-burger-3-rev {
  0% {
    transform: translateY(-4px) rotate(135deg); }
  50% {
    transform: translateY(-4px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }
html {
  background-color: rgba(215, 215, 215, 0.6);
  height: 100%; }

.fonta {
  background: rgba(215, 215, 215, 0.6);
  height: 2rem;
  height: 100%; }

body {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  min-height: 100%;
  overflow: auto;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }

.head {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  margin-bottom: 5%; }
  .head .logo {
    margin: 0 10%; }
  .head .tooltip-help {
    flex: 0 0 4rem;
    background: none;
    width: 4rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }

.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem; }
  .search-field {
    width: 75%;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 1rem; }
  .search .fonta, .search-field {
    background: rgba(215, 215, 215, 0.6);
    height: 2.5rem;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3); }
  .search .fonta {
    padding-right: 1rem; }
  .search-btn {
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #3385ff;
    padding: 0 0.5rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }
    .search-btn:active, .search-btn:focus {
      background: #3385ff;
      box-shadow: none; }
    .search-btn:hover {
      background: rgba(215, 215, 215, 0.6);
      border: 1px solid rgba(100, 100, 100, 0.3);
      box-shadow: none; }

.options {
  display: flex;
  justify-content: space-around;
  height: 2rem;
  text-transform: uppercase; }
  .options .option-inactive {
    cursor: auto; }

.result-img {
  width: 100px;
  height: 100px;
  margin-right: 2rem; }
.result-item {
  display: flex;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  cursor: pointer; }
.result-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.result-title, .result-price {
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
